<section id="createHabitSection">
  <form action="/habit/create" method="post">
    <input type="text" name="name" placeholder="Name of habit.." />
    <input type="text" name="avatar" placeholder="Copy avatar url" />
    <button>Create</button>
  </form>
</section>
