<html>
  <head>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/view_habits.css" />
    <link rel="stylesheet" href="/css/calender.css" />
    <link rel="stylesheet" href="/css/sign_in.css" />
    <link rel="stylesheet" href="/css/sign_up.css" />
    <link rel="stylesheet" href="/css/create_habit.css">
    <link rel="stylesheet" href="/css/edit_status.css">
  </head>

  <body>
    <%- include('_header') %> <%- body -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src = "/script/view_habit.js"></script>
    <script src = "/script/calender.js"></script>
  </body>
</html>
